<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  {{ template "fragments/style.html" }}
</head>

<body>
  <div class="message-container">
    {{ template "fragments/header.html" . }}
    <main>
      <p>Hi,</p>

      <p>
        Your e-mail address has been added to the <strong>{{.Organization.Name}}</strong> organization on
        <a href="https://app.hyprmcp.com">HyprMCP</a>.
      </p>

      <p>
        You can log in <a href="https://app.hyprmcp.com">here</a>.
      </p>

      <p>{{template "fragments/signature.html"}}</p>
    </main>
    {{template "fragments/footer.html"}}
  </div>
</body>

</html>